<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="moncomplogin-element">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <div align="center">
        <h2>[[prop1]]</h2>
    </div>
    <div align="center">
        <p>Usuario:    <input type="text" name="login" id="login" value="{{prop2::input}}" /></p>
        <p>Contraseña: <input type="password" name="pass" id="pass" value="{{prop3::input}}" /></p>
          <label>Nombre de usuario: [[prop2]]</label><br />
          <label>Contraseña: [[prop3]]</label><br /><br /><br />
        <button on-click="validarUsuario">Aceptar</button><br />

        <label>Prueba: [[prop4]]</label><br /><br /><br />
        
    </div>
  </template>

  <script>
    /**
     * `moncomplogin-element`
     * Componente de login
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class MoncomploginElement extends Polymer.Element {
      static get is() { 
        return 'moncomplogin-element'; 
      }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'Inicio de Sesión.'
          },
          prop2 : String,
          prop3 : String, 

          prop4 : {
            type : Boolean,
            value : "false",
            notify : true
          }        
        };
      }

      validarUsuario() {
  
      if(this.prop2 == 'Monica' && this.prop3 == '12345'){
        this.set('prop4', true)
      }else{
        this.prop4 = false;
      }
    }

    }
    


    window.customElements.define(MoncomploginElement.is, MoncomploginElement);
  </script>
</dom-module>
